<div class="sidebar">
	SEARCH BY CATEGORY:<br/>
	<ul style="list-style: none;">
		<%= display_category %>
	</ul>
</div>	

All Posts:
<ul style="list-style: none;">
	<% @posts.each do |post| %>
    	<%= render "shared/show_posts", :post => post %>
	<% end %>	
</ul>	

